<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home work</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--My CSS-->
    <link rel="stylesheet" type="text/css" href="http://localhost:8001/web-app/templates/content/css/main/style.css">
    <link rel="stylesheet" type="text/css"
          href="http://localhost:8001/web-app/templates/content/css/carousel/style.css">
    <link rel="stylesheet" type="text/css"
          href="http://localhost:8001/web-app/templates/content/css/clock/style.css">
</head>
<body class="background-image-home" onload="clockTimer();">
<main>
    <header th:replace="fragments/header :: header"></header>
    <div class="container-fluid">
        <div class="row footer">
        </div>
        <div class="row align-items-start">
            <div class="col-lg-2 align-self-end">
                <div class="clockpage">
                    <span id="clock"></span>
                    <span id="dayOfWeek"></span>
                </div>
            </div>
        </div>
    </div>
    <!--    ====================================================================================================================-->
    <div class="container-fluid">
        <div class="row top-step">
        </div>
        <div class="row">
            <div class="col">
                <form action="#" th:formaction="@{'/'}" th:object="${filterDTO}" method="post">
                    <table cellspacing="1" border="0" cellpadding="1">
                        <thead>
                        <tr>
                            <th>Route Start</th>
                            <th>Route End</th>
                            <th>Date start fly</th>
                            <th>Date end fle</th>
                            <th>Price</th>
                            <th>AirCompany</th>
                            <th>Transfers</th>
                            <th>Flight duration</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input th:type="checkbox" id="routeStartCheckbox" name="routeStartCheckbox"
                                       value="routeStartCheckbox">
                                <input type="text" name="routeStart" id="routeStart"
                                       th:value="Minsk">
                            </td>
                            <td>
                                <input th:type="checkbox" id="routeEndCheckbox" name="routeEndCheckbox"
                                       value="routeStartCheckbox">
                                <input type="text" name="routeEnd" id="routeEnd"
                                       th:value="Moskva">
                            </td>
                            <td>
                                <input th:type="checkbox" id="dateStartCheckbox" name="dateStartCheckbox"
                                       value="dateStartCheckbox">
                                <input type="date" name="dateStart" id="dateStart"
                                       min="2022-06-01" max="2050-12-31" th:value="2022-07-27">
                            </td>
                            <td>
                                <input th:type="checkbox" id="dateEndCheckbox" name="dateEndCheckbox"
                                       value="dateEndCheckbox">
                                <input type="date" name="dateEnd" id="dateEnd"
                                       min="2022-06-01" max="2050-12-31" th:value="2022-07-27">
                            </td>
                            <td>
                                <input th:type="checkbox" id="priceStartCheckbox" name="priceStartCheckbox"
                                       value="priceStartCheckbox">
                                <input type="range" name="priceEnd" min="0" max="1000" step="10"
                                       th:value="200" onchange="updateRangeInput(this.value);">
                                <input type="text" id="rangeInput" value="200">
                            </td>
                            <td>
                                <input th:type="checkbox" id="AirCompanyCheckbox" name="airCompanyCheckbox"
                                       value="airCompanyCheckbox">
                                <input type="text" id="AirCompany" name="airCompany"
                                       th:value="Belavia">
                            </td>
                            <td>
                                <input th:type="checkbox" id="TransfersCheckbox" name="transfersCheckbox"
                                       value="transfersCheckbox">
                                <input type="text" id="Transfers" name="transfers"
                                       th:value="London">
                            </td>
                            <td>
                                <input th:type="checkbox" id="FlightDurationCheckbox" name="flightDurationCheckbox"
                                       value="flightDurationCheckbox">
                                <input type="range" name="durationEnd" min="0" max="600" step="60"
                                       th:value="120" onchange="updateDurationInput(this.value);">
                                <input type="text" id="Duration" value="120">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success btn-lg" type="submit">Find my route</button>
                </form>
            </div>
        </div>
    </div>
    <!--    ====================================================================================================================-->
    <div class="container-fluid">
        <div class="row footer">
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col to-center">
                <label>Available routes</label>
                <table cellspacing="2" border="1" cellpadding="5">
                    <thead>
                    <tr align="center">
                        <th>id</th>
                        <th>routeStart</th>
                        <th>routeEnd</th>
                        <th>distance</th>
                        <th>flightDateStart</th>
                        <th>flightDateEnd</th>
                        <th>isActive</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="flightRoute : ${flightRoutePageList}">
                        <td><span th:text="${flightRoute.idFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.routeStartFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.routeEndFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.distanceFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.flightDateStartFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.flightDateEndFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.isActiveFlightRoute}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</main>
<script src="http://localhost:8001/web-app/templates/content/css/date/script.js"></script>
<script src="http://localhost:8001/web-app/templates/content/css/clock/script.js"></script>
<script src="http://localhost:8001/web-app/templates/content/css/range/script.js"></script>
<script src="http://localhost:8001/web-app/templates/content/css/carousel/script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>