<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home work</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--My CSS-->
    <link rel="stylesheet" type="text/css" href="http://localhost:8001/web-app/templates/content/css/main/style.css">
    <link rel="stylesheet" type="text/css"
          href="http://localhost:8001/web-app/templates/content/css/clock/style.css">
</head>
<body class="background-image-home" onload="clockTimer();">
<main>
    <header th:replace="fragments/header :: header"></header>
    <div class="container-fluid">
        <div class="row footer">
        </div>
        <!--        <div class="row">-->
        <!--            <div class="col to-center">-->
        <!--                <table cellspacing="2" border="1" cellpadding="5">-->
        <!--                    <tbody th:each="user : ${userDTO}">-->
        <!--                    <tr>-->
        <!--                        <td><span>Login:</span></td>-->
        <!--                        <td><span th:text="${user.username}"></span></td>-->
        <!--                    </tr>-->
        <!--                    </tbody>-->
        <!--                </table>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="row align-items-start">
            <div class="col-lg-2 align-self-end">
                <div class="clockpage">
                    <span id="clock"></span>
                    <span id="dayOfWeek"></span>
                </div>
            </div>
        </div>
    </div>
    <!--    ====================================================================================================================-->
    <div class="container-fluid">
        <div class="row top-step">
        </div>
        <div class="row">
            <div class="col">
                <form action="#" th:action="@{'/'}" th:object="${filterDTO}" method="post">
                    <table cellspacing="1" border="0" cellpadding="1">
                        <thead>
                        <tr>
                            <th>Route Start</th>
                            <th>Route End</th>
                            <th>Date start fly</th>
                            <th>Date end fly</th>
                            <th>Price</th>
                            <th>AirCompany</th>
                            <th>Transfers</th>
                            <th>Flight duration</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input th:type="checkbox" id="routeStartCheckbox" name="routeStartCheckbox"
                                       value="true">
                                <input type="text" name="routeStart" id="routeStart"
                                       th:value="Minsk">
                            </td>
                            <td>
                                <input th:type="checkbox" id="routeEndCheckbox" name="routeEndCheckbox"
                                       value="true">
                                <input type="text" name="routeEnd" id="routeEnd"
                                       th:value="Moskva">
                            </td>
                            <td>
                                <input th:type="checkbox" id="dateStartCheckbox" name="dateStartCheckbox"
                                       value="true">
                                <input type="date" name="dateStart" id="dateStart"
                                       min="2022-06-01" max="2050-12-31" th:value="2022-08-09">
                            </td>
                            <td>
                                <input th:type="checkbox" id="dateEndCheckbox" name="dateEndCheckbox"
                                       value="true">
                                <input type="date" name="dateEnd" id="dateEnd"
                                       min="2022-06-01" max="2050-12-31" th:value="2022-08-10">
                            </td>
                            <td>
                                <input th:type="checkbox" id="priceCheckbox" name="priceCheckbox"
                                       value="true">
                                <input type="range" name="price" min="0" max="1000" step="10"
                                       th:value="900" onchange="updateRangeInput(this.value);">
                                <input type="text" id="rangeInput" value="900">
                            </td>
                            <td>
                                <input th:type="checkbox" id="airCompanyNameCheckbox" name="airCompanyNameCheckbox"
                                       value="true">
                                <input type="text" id="airCompanyName" name="airCompanyName"
                                       th:value="Belavia">
                            </td>
                            <td>
                                <input th:type="checkbox" id="TransferCheckbox" name="transferCheckbox"
                                       value="true">
                                <input type="text" id="transfer" name="transfer"
                                       th:value="London">
                            </td>
                            <td>
                                <input th:type="checkbox" id="durationCheckbox" name="durationCheckbox"
                                       value="true">
                                <input type="range" name="duration" min="0" max="1000" step="60"
                                       th:value="120" onchange="updateDurationInput(this.value);">
                                <input type="text" id="duration" value="120">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success btn-lg" type="submit">Find my route</button>
                </form>
            </div>
        </div>
    </div>
    <!--    ====================================================================================================================-->
    <div class="container-fluid">
        <div class="row footer">
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col to-center">
                <label>Available routes</label>
                <table cellspacing="2" border="1" cellpadding="5">
                    <thead>
                    <tr align="center">
                        <th>id</th>
                        <th>routeStart</th>
                        <th>routeEnd</th>
                        <th>distance</th>
                        <th>flightDateStart</th>
                        <th>flightDateEnd</th>
                        <th>duration</th>
                        <th>price</th>
                        <th>isActive</th>
                    </tr>
                    </thead>
                    <tbody th:each="flightRoute : ${flightRoutePageList}"
                           th:with="baseUrl=('/view/flight/information/')">
                    <tr>
                        <td><a th:href="@{${baseUrl}+${flightRoute.id}}"
                               th:text="${flightRoute.id}"
                               th:object="${idFlightRoute}"></a></td>
                        <td><span th:text="${flightRoute.routeStart}"></span></td>
                        <td><span th:text="${flightRoute.routeEnd}"></span></td>
                        <td><span th:text="${flightRoute.distance}"></span></td>
                        <td><span th:text="${flightRoute.flightDateStart}"></span></td>
                        <td><span th:text="${flightRoute.flightDateEnd}"></span></td>
                        <td><span th:text="${flightRoute.duration}"></span></td>
                        <td><span th:text="${flightRoute.price}"></span></td>
                        <td><span th:text="${flightRoute.isActive}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</main>
<script src="http://localhost:8001/web-app/templates/content/css/date/scriptStart.js"></script>
<script src="http://localhost:8001/web-app/templates/content/css/date/scriptEnd.js"></script>
<script src="http://localhost:8001/web-app/templates/content/css/clock/script.js"></script>
<script src="http://localhost:8001/web-app/templates/content/css/range/script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>