<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create User</title>
    <link href="carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <style>
        .col-1-2 {
        width: 30%;
        float: left;
        margin-top: 100px;
        margin-left: 10px;
        }

    </style>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="col-1-2">
    <form method="post" th:action="@{http://localhost:8001/web-app/find/route}">
        <div th:object="${filter}">
            <label>Find</label>
            <p><label>Route Start<input type="text" name="routeStart" value="Minsk"
                                        class="form-control" required><br></label></p>
            <p><label>Route Start<input type="text" name="routeEnd" value="Moskva"
                                        class="form-control" required><br></label></p>
        </div>
        <input type="submit" id="submitButton" th:value="Find">
    </form>
</div>
<div class="col-1-2">
    <table cellspacing="2" border="1" cellpadding="5">
        <thead>
        <tr align="center">
            <th>idFlightRoute</th>
            <th>routeStartFlightRoute</th>
            <th>routeEndFlightRoute</th>
            <th>distanceFlightRoute</th>
            <th>flightDateStartFlightRoute</th>
            <th>flightDateEndFlightRoute</th>
            <th>isActiveFlightRoute</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flightRoute : ${flightRoutePageList}">
            <td><span th:text="${flightRoute.idFlightRoute}"></span></td>
            <td><span th:text="${flightRoute.routeStartFlightRoute}"></span></td>
            <td><span th:text="${flightRoute.routeEndFlightRoute}"></span></td>
            <td><span th:text="${flightRoute.distanceFlightRoute}"></span></td>
            <td><span th:text="${flightRoute.flightDateStartFlightRoute}"></span></td>
            <td><span th:text="${flightRoute.flightDateEndFlightRoute}"></span></td>
            <td><span th:text="${flightRoute.isActiveFlightRoute}"></span></td>
        </tr>
        </tbody>
    </table>

    <table cellspacing="2" border="1" cellpadding="5">
        <thead>
        <tr align="center">
            <th>id</th>
            <th>name</th>
            <th>countryLocation</th>
            <th>priceLowcostIndex</th>
            <th>priceBuisnessIndex</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flightRoute : ${flightRoutePageList}">
            <td><span th:text="${flightRoute.idAirPlane}"></span></td>
            <td><span th:text="${flightRoute.typeAirPlane}"></span></td>
            <td><span th:text="${flightRoute.statusAirPlane}"></span></td>
            <td><span th:text="${flightRoute.numberSeatLowcostAirPlane}"></span></td>
            <td><span th:text="${flightRoute.numberSeatBuisnessAirPlane}"></span></td>
            <td><span th:text="${flightRoute.pricePerKilometerAirPlane}"></span></td>
            <td><span th:text="${flightRoute.isActiveAirPlane}"></span></td>
        </tr>
        </tbody>
    </table>

    <table cellspacing="2" border="1" cellpadding="5">
        <thead>
        <tr align="center">
            <th>idUserOrder</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flightRoute : ${flightRoutePageList}">
            <td><span th:text="${flightRoute.idUserOrder}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
