<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create User</title>
    <link href="carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <style>
        .col-1-2 {
        width: 30%;
        float: left;
        margin-top: 100px;
        margin-left: 10px;
        }

    </style>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="col-1-2">
    <form method="post" th:action="@{http://localhost:8001/web-app/find/route}">
        <div th:object="${filterObj}">
            <label>Find</label>
            <p><label>Route Start<input type="text" name="routeStart" value="Minsk"
                                        class="form-control" required><br></label></p>
            <p><label>Route Start<input type="text" name="routeEnd" value="Moskva"
                                        class="form-control" required><br></label></p>
        </div>
        <input type="submit" id="submitButton" th:value="Find">
    </form>
</div>
<div class="col-1-2">
    <table cellspacing="2" border="1" cellpadding="5">
        <thead>
        <tr align="center">
            <th>id</th>
            <th>type</th>
            <th>status</th>
            <th>numberSeatLowcost</th>
            <th>numberSeatBuisness</th>
            <th>pricePerKilometer</th>
            <th>isActive</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="airPlane : ${airPlaneDTOModifPageList}">
            <td><span th:text="${airPlane.idAirPlane}"></span></td>
            <td><span th:text="${airPlane.typeAirPlane}"></span></td>
            <td><span th:text="${airPlane.statusAirPlane}"></span></td>
            <td><span th:text="${airPlane.numberSeatLowcostAirPlane}"></span></td>
            <td><span th:text="${airPlane.numberSeatBuisnessAirPlane}"></span></td>
            <td><span th:text="${airPlane.pricePerKilometerAirPlane}"></span></td>
            <td><span th:text="${airPlane.isActiveAirPlane}"></span></td>
        </tr>
        </tbody>
    </table>

    <table cellspacing="2" border="1" cellpadding="5">
        <thead>
        <tr align="center">
            <th>id</th>
            <th>name</th>
            <th>countryLocation</th>
            <th>priceLowcostIndex</th>
            <th>priceBuisnessIndex</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="airPlane : ${airPlaneDTOModifPageList}">
            <td><span th:text="${airPlane.idAirCompany}"></span></td>
            <td><span th:text="${airPlane.nameAirCompany}"></span></td>
            <td><span th:text="${airPlane.countryLocationAirCompany}"></span></td>
            <td><span th:text="${airPlane.priceLowcostIndexAirCompany}"></span></td>
            <td><span th:text="${airPlane.priceBuisnessIndexAirCompany}"></span></td>
        </tr>
        </tbody>
    </table>

    <table cellspacing="2" border="1" cellpadding="5">
        <thead>
        <tr align="center">
            <th>id</th>
            <th>routeStart</th>
            <th>routeEnd</th>
            <th>distance</th>
            <th>flightDateStart</th>
            <th>flightDateEnd</th>
            <th>isActive</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="airPlane : ${airPlaneDTOModifPageList}">
            <td><span th:text="${airPlane.idFlightRoute}"></span></td>
            <td><span th:text="${airPlane.routeStartFlightRoute}"></span></td>
            <td><span th:text="${airPlane.routeEndFlightRoute}"></span></td>
            <td><span th:text="${airPlane.distanceFlightRoute}"></span></td>
            <td><span th:text="${airPlane.flightDateStartFlightRoute}"></span></td>
            <td><span th:text="${airPlane.flightDateEndFlightRoute}"></span></td>
            <td><span th:text="${airPlane.isActiveFlightRoute}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
