<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home work</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--My CSS-->
    <link rel="stylesheet" type="text/css" href="http://localhost:8001/web-app/templates/content/css/main/style.css">
    <link rel="stylesheet" type="text/css"
          href="http://localhost:8001/web-app/templates/content/css/carousel/style.css">

</head>
<body class="background-image-home">
<main>
    <header th:replace="fragments/header :: header"></header>
    <div class="container-fluid">
        <div class="row footer">
        </div>
        <div class="ant-carousel">
            <div class="ant-carousel-hider">
                <ul class="ant-carousel-list">
                    <li class="ant-carousel-element">
                        <a href="http://localhost:8001/web-app/templates/content/images/carousel/carousel-1.jpg">
                            <img src="http://localhost:8001/web-app/templates/content/images/carousel/carousel-1.jpg"
                                 width="360" height="240" alt="0"></a>
                        <p>Do you want to fly?</p>
                    </li>
                    <li class="ant-carousel-element">
                        <a href="http://localhost:8001/web-app/templates/content/images/carousel/carousel-2.jpg">
                            <img src="http://localhost:8001/web-app/templates/content/images/carousel/carousel-2.jpg"
                                 width="360" height="240" alt="1"></a>
                        <p>Hello World! From Minsk!</p>
                    </li>
                    <li class="ant-carousel-element">
                        <a href="http://localhost:8001/web-app/templates/content/images/carousel/carousel-3.jpg">
                            <img src="http://localhost:8001/web-app/templates/content/images/carousel/carousel-3.jpg"
                                 width="360" height="240" alt="2"></a>
                        <p>Need a ticket to Seychelles?</p>
                    </li>
                    <li class="ant-carousel-element">
                        <a href="http://localhost:8001/web-app/templates/content/images/carousel/carousel-4.jpg">
                            <img src="http://localhost:8001/web-app/templates/content/images/carousel/carousel-4.jpg"
                                 width="360" height="240" alt="3"></a>
                        <p>Look at the beauty of the Georgian mountains</p>
                    </li>
                    <li class="ant-carousel-element">
                        <a href="http://localhost:8001/web-app/templates/content/images/carousel/carousel-5.jpg">
                            <img src="http://localhost:8001/web-app/templates/content/images/carousel/carousel-5.jpg"
                                 width="360" height="240" alt="4"></a>
                        <p>Ah Paris...</p>
                    </li>
                    <li class="ant-carousel-element">
                        <a href="http://localhost:8001/web-app/templates/content/images/carousel/carousel-6.jpg">
                            <img src="http://localhost:8001/web-app/templates/content/images/carousel/carousel-6.jpg"
                                 width="360" height="240" alt="5"></a>
                        <p>Sí, Señor, es España...</p>
                    </li>
                </ul>
            </div>
            <div class="ant-carousel-arrow-left"></div>
            <div class="ant-carousel-arrow-right"></div>
            <div class="ant-carousel-dots"></div>
        </div>
    </div>
    <!--    ====================================================================================================================-->
    <div class="container-fluid">
        <form action="#" th:action="@{'/find/route/'}" th:object="${filterDTO}" method="post">
            <div class="row top-step">
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <form th:object="${filterDTO}">
                        <div class="input-group">
                            <span class="input-group-text">Start route</span>
                            <input type="text" class="form-control" name="routeStart" id="routeStart" th:value="Minsk">
                            <!--                        placeholder="Enter start" aria-label="Enter start"-->
                            <!--                        aria-describedby="basic-addon1"-->
                        </div>
                        <button class="btn btn-success btn-lg" type="submit">Find my route</button>
                    </form>
                </div>
                <div class="col">
                    <form th:object="${filterDTO}">
                        <div class="input-group">
                            <span class="input-group-text">End route</span>
                            <input type="text" class="form-control" name="routeEnd" id="routeEnd" th:value="Moskva">
                            <!--                        placeholder="Enter end" aria-label="Enter end"-->
                            <!--                        aria-describedby="basic-addon1"-->
                        </div>
                    </form>
                </div>
                <div class="col">
                    <form th:object="${filterDTO}">
                        <div class="input-group">
                            <span class="input-group-text">Date start</span>
                            <input type="date" name="dateStart" id="dateStart"
                                   th:value="2022-07-27"
                                   min="2022-06-01" max="2050-12-31">
                        </div>
                    </form>
                </div>
                <div class="col">
                    <form th:object="${filterDTO}">
                        <div class="input-group">
                            <span class="input-group-text">Date return</span>
                            <input type="date" name="dateEnd" id="dateEnd"
                                   th:value="2022-07-27"
                                   min="2022-06-01" max="2050-12-31">
                        </div>
                    </form>
                </div>
                <div class="col">
                    <form th:object="${filterDTO}">
                        <div class="input-group">
                            <span class="input-group-text">Price</span>
                            <input type="text" id="priceStart" value="200" class="form-control">
                            <input type="range" name="rangeInput" min="0" max="1000" step="10"
                                   th:value="200"
                                   onchange="updateTextInput(this.value);">
                        </div>
                    </form>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col to-center">
                    <button class="btn btn-success btn-lg" type="submit">Find my route</button>
                </div>
                <div class="col">
                </div>
            </div>
        </form>

    </div>

    <div class="container-fluid">
        <div class="row footer">
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col to-center">
                <table cellspacing="2" border="1" cellpadding="5">
                    <thead>
                    <tr align="center">
                        <th></th>
                        <th>id</th>
                        <th>routeStart</th>
                        <th>routeEnd</th>
                        <th>distance</th>
                        <th>flightDateStart</th>
                        <th>flightDateEnd</th>
                        <th>isActive</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="flightRoute : ${flightRouteDTOModifPageList}">
                        <td><span th:text="${flightRoute.idFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.routeStartFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.routeEndFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.distanceFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.flightDateStartFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.flightDateEndFlightRoute}"></span></td>
                        <td><span th:text="${flightRoute.isActiveFlightRoute}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</main>
<script src="http://localhost:8001/web-app/templates/content/css/range/script.js"></script>
<script src="http://localhost:8001/web-app/templates/content/css/carousel/script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>